<!DOCTYPE html> 
<html> 

<head> 
	<title>Home Page</title> 
</head> 

<body> 
	<h3 style="text-align: center;color: red;">This is our home page.</h3> 
	<p style="text-align: center;color: red;">
		<a href="/login" >Click Here to Go to send mail page</a><br><br>
		<a href="/sendMail" >Click Here to editor page </a>
	</p>
</body> 

</html>	 