*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
   background: url('https://cdn.pixabay.com/photo/2016/11/21/17/39/piano-1846719_1280.jpg');
    background-size: cover;

}
.keys{
    display: flex;
    align-items: center;
    justify-content: center;
}
.key{
    font-size: 50px;
    height: 70px;
    width: 80px;
    margin: 20px;
    border: 5px solid rgb(3, 3, 78);
    box-shadow: 6px 4px 5px;
    padding: 5px;
    color: rgb(248, 150, 3);
    transition: 0.3s;
}
.play{
    transform: scale(1.5);
}
