*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: rgb(10, 214, 221);
  text-align: center;
  font-family: monospace;
  font-size: larger;
}

img{
 height: 500px;
 width: 700px;
 background-size: cover;
 margin: 20px;
 padding: var(--spacing);
 background-color: var(--color);
 filter: blur(var(--blur));
}
:root{
    --spacing: 10px;
    --color: #bfae80;
    --blur: 5px;
}
