*{
    background-color: #00FA9A;
}

button{
    background-color: #00FA9A;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

h1{
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-family:'Elsie', 'cursive';
}

div{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;

}