*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
}
.panels{
   display: flex; 
   background: rgb(226, 172, 55);
   overflow: hidden;
   height: 100vh;
   width: 100%;
}
.panel{
  background-size: cover;
  background-position: center;
  display: flex;
  color: rgb(241, 8, 171);
  font-size: 2rem;
  flex: 1;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  flex-direction: column;
}
.panel p{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel :first-child{
  transform: translateY(-100%);
}
.panel :last-child{
  transform: translateY(100%);
}
.open-image{
  flex: 5;
  font-size: 4rem;
}
.open-text :first-child{
  transform: translateY(0%);
}
.open-text :last-child{
  transform: translateY(0%);
}
.panel1{
  background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
}
.panel2{
  background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); 
}
.panel3{
  background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
}
.panel4{
  background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); 
}
.panel5{
  background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
}
