* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.gallary {
    background: purple;
    height: 100vh;
    width: 100%;
    display: flex;
}

.item {
    color: #fff;
    font-size: 2rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.8s cubic-bezier(1, 0.15, 0, 1.54), background 0.2s;
}

.item p {
    cursor: default;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.item :first-child {
    transform: translateY(-100%);
}

.item :last-child {
    transform: translateY(100%);
}

.open-image {
    flex: 5;
}

.open-image p {
    font-size: 4rem;
}

.open-text :first-child {
    transform: translateY(0);
}

.open-text :last-child {
    transform: translateY(0);
}

.gallary> :nth-child(1) {
    background-image: url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
}

.gallary> :nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1433086966358-54859d0ed716?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
}

.gallary> :nth-child(3) {
    background-image: url("https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
}

.gallary>:nth-child(4) {
    background-image: url("https://images.unsplash.com/photo-1586348943529-beaae6c28db9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
}

.gallary>:nth-child(5) {
    background-image: url("https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
}