.box{
     display: flex;
     justify-content: center;
    margin-top:auto;
     
}


body {
     background-color: #e4e9fd;
     background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
     min-height: 1000px;

     
}


#heading{ margin-left: 200px;
     margin-right: 200px;
     background-color:#a683e3;
}

 .boxlist{
     background-color: white;
     margin-left: 200px;
     margin-right: 200px;
     display: flex;
flex-direction: column;
align-items: center;   }

/* button {
     background-color: #04AA6D;
     border: none;
     color: white;
     
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 10px;
   
     border-radius: 50%;
   } */


   .form{
     height: 100%;
     border:none;
   }

   input:checked+p { 
     display: inline;
     text-decoration: line-through;
     text-decoration-color: #A683E3;
   }
   

   
   input[type="checkbox"] {
     display: inline;
    
   }
  


  