* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before {
    content: '';
    position: absolute;
    background: url("https://cdn.pixabay.com/photo/2016/11/19/13/57/drum-set-1839383__340.jpg");
    height: 100vh;
    width: 100%;
    background-size: contain;
    z-index: -1;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.keys::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: 0.6;
}

.keys {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.key {
    font-weight: bolder;
    font-size: larger;
    padding: 15px;
    border: 4px solid transparent;
    transition: 0.3s;
}

.playing {
    transform: scale(1.4);
    border: 4px solid yellow;
}