<!DOCTYPE html> 
<html> 

<head> 
  <style>
    h2{
      border: 2px dashed black;
      padding-top: 4cm;
      padding-bottom: 4cm;
      text-align: center;
    }
  </style>
	<title>Home Page</title> 
</head> 

<body> 
  <h2> <%=error%>> </h2> 
  <p> <%=message%> </p>
</body> 

</html>