beautifulsoup4==4.9.1
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
feedfinder2==0.0.4
feedparser==5.2.1
google-search==1.0.2
idna==2.10
jieba3k==0.35.1
joblib==1.2.0
lxml==4.6.3
newspaper3k==0.2.8
nltk==3.9.2
Pillow==7.2.0
pytesseract==0.3.5
python-dateutil==2.8.1
PyYAML==5.4
regex==2020.7.14
requests==2.24.0
requests-file==1.5.1
six==1.15.0
soupsieve==2.0.1
tinysegmenter==0.3
tldextract==2.2.3
tqdm==4.48.2
urllib3==2.6.3
